.mainHome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.Homecontainer{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.backLink {
    display: flex;
    text-decoration: none;
    color: #ff9900;
    margin-bottom: 1rem;
    width: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
  }

.blogsContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainTitle1{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: last baseline;
}

.line2{
    width: 25%;
    height: 4px;
    background-color: #333;
}

.head2{
    font-size: 22px;
    word-spacing: 8px;
    font-weight: 800;
    color: #333;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 22%;
  grid-row-gap: 50px;
  margin: 25px auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 100%;
}

.cards .card {
  width: 400px;
  height: auto;
  background-color: #FFFFFF;
  position: relative;
}

.cards .card img {
  width: 100%;
  height: 100%;
}

.cards .card .article {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.cards .card .article h4 {
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 700;
  margin-top: 15px;
  width: 100%;
}

.cards .card .article p {
  font-size: 14px;
  color: #6a6a6a;
  margin-top: 2px;
  width: 100%;
}

.article .button {
  text-decoration: none;
  margin-top: 10px;
  color: #CA9856;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

.cards .card .postedDate p {
  font-weight: 600;
  position: absolute;
  font-size: 14px;
  top: 0;
  left: 0;
  background-color: #ffffff8e;
  padding: 8px;
}

.showMoreIcon{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    width: 100%;
    height: 10vh;
}

.showMoreIcon a{
    font-size: 20px;
    text-decoration: none;
    margin-right: 10px;
    color: #CA9856;
}

.GrLinkNext{
    font-size: 20px;
    color: #CA9856;
} 


.paginationContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }
  
  .arrowButton {
    background: none;
    border: none;
    color: #c85d44;
    font-size: 24px;
    cursor: pointer;
    padding: 5px 10px;
    margin: 0 5px;
  }
  
  .pageButton {
    background: none;
    border: 1px solid #000;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    padding: 5px 15px;
    margin: 0 5px;
  }
 